

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Edulo!</div>
                <div class="intro-heading">In Search Of Your Future</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell More</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What do we do?</h2>
                    <h3 class="section-subheading text-muted">Edulo.io is website that help the student that have problem with finding university after they graduate from school. With this website, student able to find any university with more easier and fast.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-male fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">College & University placements guaranteed</h4>
                    <p class="text-muted">Spoilt with abundant choices of accredited institutions of higher learningm school leavers can easily apply for admission at the tip of their fingers. And if that doesn't work out, Edulo continue to recommend you universities from all over the Malaysia.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Quick.Efficient.Secured</h4>
                    <p class="text-muted">Behid the scenes, Edulo works tirelessly to insure that you applications are delivered quickly and safely.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Speedy notifications!</h4>
                    <p class="text-muted">Still waiting for that letter to come in? Wait no more! Edulo immediately notify's you on every application via SMS & Email, all at your convinience.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Edulo.io is website that help student that have problem with finding university after they graduate from school. With this website, student able to find any university with more easier and fast. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                           <div class="timeline-image">
                                <%= image_tag "about/join_edulo.io.jpg", class: "img-circle img-responsive" %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Join Edulo.io</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Yes! It's free, but only for beginning.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <%= image_tag "about/data_entry.jpg", class: "img-circle img-responsive" %>
                            </div>
                           <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Data Entry</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Personal data such as personal details, Qualifications and self interest were collected.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag "about/data_process.jpg", class: "img-circle img-responsive" %>
                            </div>
                               <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Data Process</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">By referring to edulo.io database, Match making between University and students self interest work like charm.</p>
                                </div>
                            </div>
                        </li>
                       <li>
                            <div class="timeline-image">
                                <%= image_tag "about/university.jpg", class: "img-circle img-responsive" %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Select University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The power is on students hands to choose between universities.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag "about/submit.png", class: "img-circle img-responsive" %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Submit</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Edulo will automaticly acknowledge the selected University by the student appliance by just a simple click a button.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <%= image_tag "about/result.jpg", class: "img-circle img-responsive" %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Result</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Where lifetime warranty is given from Edulo either its Yey or Ney.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Interest?
                                    <br>Join
                                    <br>Now!</h4>
                            </div>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Team</h2><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag "team/1.jpg", class: "img-responsive img-circle" %>                        
                        <h4>Afiq Shazmie</h4>
                        <p class="text-muted">User Experience</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag "team/2.jpg", class: "img-responsive img-circle" %>
                        <h4>Azfar Azman</h4>
                        <p class="text-muted">Marketer</p>
                        <ul class="list-inline social-buttons">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag "team/3.jpg", class: "img-responsive img-circle" %>
                        <h4>Mohd Paramasvara</h4>
                        <p class="text-muted">Developer</p>
                    </div>
                </div>
            </div>
            
             <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                         <%= image_tag "team/4.jpg", class: "img-responsive img-circle" %>
                        <h4>Brijinder Singh Mann</h4>
                        <p class="text-muted">Operation Developer</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <%= image_tag "team/5.jpg", class: "img-responsive img-circle" %>
                        <h4>Muhammad Yuzairi</h4>
                        <p class="text-muted">Designer</p>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    
    <section id="Search">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Find Now</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                 <%= form_tag courses_path, :method => 'get' do %>
                        <div class="row">
                            <div class="col-md-6">
                           
                                <div class="form-group">

                                    <input type="text" name="name" class="form-control" placeholder="Your Name *" id="Name" >
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="interest" class="form-control" placeholder="Your Interest *" id="interest" >
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="qualification"class="form-control" placeholder="Certificate *" id="qualification" required data-validation-required-message="Please enter your interest.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row clearfix">


                                
    	<div class="col-md-6 table-responsive">
			<table class="table table-bordered table-sortable table-responsive" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							Subject
						</th>
						<th class="text-center">
							Result
						</th>
        				<th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
						</th>
					</tr>
				</thead>
				<tbody>
    				<tr id='addr0' data-id="0" class="hidden">
						<td data-name="name">
						    <input type="text" name='Subject'  placeholder='Subject' class="form-control"/>
						</td>
						<td data-name="mail">
						    <input type="text" name='mail0' placeholder='Result' class="form-control"/>
						</td>
                        <td data-name="del">
                            <button nam"del0" class='btn btn-danger glyphicon glyphicon-remove row-remove'></button>
                        </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
                            <div class="clearfix"></div>
                            <div class="container">
    
	<a id="add_row" class="btn btn-default pull-right">Add Row</a>
</div>


                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Search</button>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>



